.Header{
    color: rgb(226, 212, 173);
    background-color: rgb(38, 78, 78);
    padding: 30px;
    text-align: left;
    font-size:large;
    padding-bottom: 5px;
    padding-top: 90px;
    margin-bottom: 0%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.Food{
    padding: 30px;
    padding-bottom: 3px;
    padding-top: 50px;
    background-color: rgb(185, 221, 221);
    color:  rgb(133, 133, 133);
    margin-top: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: medium;
    text-transform: capitalize;
}

.Description{
    color:  rgb(38, 78, 78);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}

img{
    padding-left: 30px;
    padding-bottom: 30px;

}

*{
    background-color: rgb(250, 247, 229);
}